.anime-card {
    position: relative;
    transition: background-color 0.1s ease;
    background-color: #000; /* 初始背景色 */
  }
  
  .anime-card:hover {
    background-color: #333; /* 悬停时背景色加深 */
  }
  
  